# Archivos externos o descargados por error
Sistema recomendación ANBAN.whtt
Sistema recomendación ANBAN/
backblue.gif
fade.gif
index.html

# Archivos temporales de Excel
~$*.xlsx

# Cache generada por Python
__pycache__/
*.py[cod]
